flows-2.json
[
    {
        "id": "7fc55d670955c6af",
        "type": "server-state-changed",
        "z": "d281f3f93f56d67f",
        "name": "get alert Count",
        "server": "ef57f68ba529f5c6",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.indego_127604973_alert_count",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "num",
        "haltifstate": "0",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 620,
        "wires": [
            [
                "eda0488c2b6390b4"
            ],
            []
        ]
    },
    {
        "id": "eb6ddb7a38cb120a",
        "type": "api-current-state",
        "z": "d281f3f93f56d67f",
        "name": "get Alert Headline",
        "server": "ef57f68ba529f5c6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.indego_127604973_alert_headline",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload_headline",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 570,
        "y": 600,
        "wires": [
            [
                "c21ea1d2d2408c10"
            ]
        ]
    },
    {
        "id": "b923d4734a7b69e5",
        "type": "api-call-service",
        "z": "d281f3f93f56d67f",
        "name": "send notification to Christians iPhone",
        "server": "ef57f68ba529f5c6",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_christians_iphone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\":\"Boschi\",\"message\":\"{{payload_headline}}\\n{{payload_message}}\",\"data\":{\"push\":{\"category\":\"lawnmower_notification\",\"thread-id\":\"notification_group_facility\"}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1130,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "c21ea1d2d2408c10",
        "type": "api-current-state",
        "z": "d281f3f93f56d67f",
        "name": "get Alert Message",
        "server": "ef57f68ba529f5c6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.indego_127604973_alert_message",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload_message",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 810,
        "y": 600,
        "wires": [
            [
                "b923d4734a7b69e5"
            ]
        ]
    },
    {
        "id": "d1e8f4c0b0336f1a",
        "type": "server-events",
        "z": "d281f3f93f56d67f",
        "name": "get action from notification",
        "server": "ef57f68ba529f5c6",
        "version": 2,
        "eventType": "ios.notification_action_fired",
        "exposeToHomeAssistant": false,
        "eventData": "",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            },
            {
                "property": "result",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event.actionName",
                "valueType": "jsonata"
            },
            {
                "property": "timestamp",
                "propertyType": "msg",
                "value": "",
                "valueType": "date"
            }
        ],
        "x": 150,
        "y": 720,
        "wires": [
            [
                "aea2f2a34bbe762f"
            ]
        ]
    },
    {
        "id": "aea2f2a34bbe762f",
        "type": "switch",
        "z": "d281f3f93f56d67f",
        "name": "evaluate action",
        "property": "result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "LAWNMOWER.YES",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 720,
        "wires": [
            [
                "21add9926053e79b"
            ]
        ]
    },
    {
        "id": "21add9926053e79b",
        "type": "api-call-service",
        "z": "d281f3f93f56d67f",
        "name": "delete alert",
        "server": "ef57f68ba529f5c6",
        "version": 5,
        "debugenabled": false,
        "domain": "indego",
        "service": "delete_alert",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"alert_index\":\"0\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 570,
        "y": 720,
        "wires": [
            [
                "1d0c0a070bd8fe14"
            ]
        ]
    },
    {
        "id": "1d0c0a070bd8fe14",
        "type": "api-current-state",
        "z": "d281f3f93f56d67f",
        "name": "get alert count",
        "server": "ef57f68ba529f5c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "0",
        "halt_if_type": "num",
        "halt_if_compare": "is",
        "entity_id": "sensor.indego_127604973_alert_count",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload_headline",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 840,
        "y": 720,
        "wires": [
            [
                "826b2189801d76eb"
            ],
            []
        ]
    },
    {
        "id": "826b2189801d76eb",
        "type": "api-call-service",
        "z": "d281f3f93f56d67f",
        "name": "send notification to Christians iPhone",
        "server": "ef57f68ba529f5c6",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_christians_iphone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\":\"Boschi\",\"message\":\"Fehlermeldung wurde gelöscht\",\"data\":{\"push\":{\"thread-id\":\"notification_group_facility\"}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1130,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "288797e9aa848264",
        "type": "comment",
        "z": "d281f3f93f56d67f",
        "name": "Boschi",
        "info": "",
        "x": 90,
        "y": 560,
        "wires": []
    },
    {
        "id": "65c2d41715bc390b",
        "type": "server-state-changed",
        "z": "d281f3f93f56d67f",
        "name": "if lawn mowed",
        "server": "ef57f68ba529f5c6",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.indego_127604973_state_lawn_mowed",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "93",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 800,
        "wires": [
            [
                "28d0381935d66972"
            ],
            []
        ]
    },
    {
        "id": "15cd640356d7561b",
        "type": "api-call-service",
        "z": "d281f3f93f56d67f",
        "name": "send notification to Christians iPhone",
        "server": "ef57f68ba529f5c6",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_christians_iphone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\":\"Boschi\",\"message\":\"Rasenfläche wurde vollständig gemäht.\\nLaufzeit gesamt: {{payload_last_operation}}Min\\nLaufzeit gemäht: {{payload_last_mowing}}Min\\nLaufzeit geladen: {{payload_last_charging}}Min\",\"data\":{\"push\":{\"thread-id\":\"notification_group_facility\"}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1130,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "28d0381935d66972",
        "type": "api-current-state",
        "z": "d281f3f93f56d67f",
        "name": "get runtime last charging",
        "server": "ef57f68ba529f5c6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.indego_127604973_runtime_last_charging",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload_last_charging",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 330,
        "y": 800,
        "wires": [
            [
                "d1bcdc560fd2449a"
            ]
        ]
    },
    {
        "id": "d1bcdc560fd2449a",
        "type": "api-current-state",
        "z": "d281f3f93f56d67f",
        "name": "get runtime last operation",
        "server": "ef57f68ba529f5c6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.indego_127604973_runtime_last_operation",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload_last_operation",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 590,
        "y": 800,
        "wires": [
            [
                "0313a0bd3a822f17"
            ]
        ]
    },
    {
        "id": "0313a0bd3a822f17",
        "type": "api-current-state",
        "z": "d281f3f93f56d67f",
        "name": "get runtime last mowing",
        "server": "ef57f68ba529f5c6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.indego_127604973_runtime_last_mowing",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload_last_mowing",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 830,
        "y": 800,
        "wires": [
            [
                "15cd640356d7561b"
            ]
        ]
    },
    {
        "id": "66fec14ca08b3933",
        "type": "server-state-changed",
        "z": "d281f3f93f56d67f",
        "name": "if lawn mowed",
        "server": "ef57f68ba529f5c6",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.indego_127604973_state_state",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 880,
        "wires": [
            [
                "ab5800a40ad3c8a0"
            ]
        ]
    },
    {
        "id": "ab5800a40ad3c8a0",
        "type": "switch",
        "z": "d281f3f93f56d67f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "513",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "523",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 880,
        "wires": [
            [
                "d5774a6dab77fb31"
            ],
            [
                "d5774a6dab77fb31"
            ]
        ]
    },
    {
        "id": "d5774a6dab77fb31",
        "type": "api-call-service",
        "z": "d281f3f93f56d67f",
        "name": "send notification to Christians iPhone",
        "server": "ef57f68ba529f5c6",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_christians_iphone",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\":\"Boschi\",\"message\":\"Mähen wurde gestartet.\",\"data\":{\"push\":{\"thread-id\":\"notification_group_facility\"}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1130,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "eda0488c2b6390b4",
        "type": "delay",
        "z": "d281f3f93f56d67f",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 350,
        "y": 600,
        "wires": [
            [
                "eb6ddb7a38cb120a"
            ]
        ]
    },
    {
        "id": "ef57f68ba529f5c6",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true,
        "credentials": {
            "host": "",
            "access_token": ""
        }
    }
]